<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    {% include 'navbar.html' %}
    <h1>⚽ Y que viva el fútbol... </h1>
    <a href="/registrar">Registrarse</a>
    <a href="/login">Iniciar sesión</a>
    <a href="/crear_partido">Crear partido</a>
    <a href="/partidos">Ver partidos</a>
  </div>
</body>
</html>
